    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card1 {
        width: 22%;
        height: 400px;
        position: relative;
        margin: 1rem;
        max-width: 400px;
        display: flex;
 padding: 1.5rem 0;   
        justify-content: center;
        flex-direction: column;
        border: 1px solid rgb(128, 0, 255);
        border-radius: 5px;
        box-shadow: 0 0 8px rgb(128, 0, 255);
        overflow: hidden;
    }

  
    .card1 h1 {
        color: var(--color-white);
        font-size: 2rem;
        font-weight: 900;
        width: 100%;
        text-align: center;
        margin-top: 40px;
        
        -webkit-text-stroke: 1px rgb(247, 50, 225);
        -webkit-text-fill-color: transparent;
    }
.sary1{
    width: 75%;
    height: 70%;
    margin-bottom: 10px;
}


    .sary1 img {
        width: 100%;
        padding-left: 43px;
        padding-top: 10px;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }

    .btn {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 40px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn button {
        width: 75%;
        height: 100%;
        cursor: pointer;
        padding: 10px 20px;
        font-size: 1rem;
        outline: none;
        border: none;
        color: white;
        border-radius: 10px;
        font-weight: 500;
        transition: all .5s ease;
        background: linear-gradient(to bottom, rgb(184, 42, 184) 10%, blue);
    }


    .btn button:hover {
        background: linear-gradient(to top, blue 20%, rgb(184, 42, 184));
    }